/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}
    
/* Set gray background color and 100% height */
.sidenav {
  background-image: url("../images/lightning.gif");
  color: #EFE7DA;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
    
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}

body{
    background-image: url("../images/backdrop.gif");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #EFE7DA;
    height: 100%;
    padding-bottom: 60px;
    margin-bottom: 150px;
    text-shadow:1px 1px grey
  }
    
li{
  color: #efe7da;
}
.well{
  color: #EFE7DA;
}
a {
  color: #95C623;
}
img{
  border-color: gray;
  border-width: 3px;
}